[submodule "dependencies/Rayjay"]
	path = dependencies/Rayjay
	url = https://github.com/iRath96/rayjay.git
[submodule "dependencies/lore"]
	path = dependencies/lore
	url = https://github.com/iRath96/lore.git
[submodule "dependencies/MetalUtils"]
	path = dependencies/MetalUtils
	url = https://github.com/iRath96/metalutils.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = https://github.com/epezent/implot.git
